<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Stall Wall - Add Link</title>
	</head>
	
	<body>
		<h1>Add Link</h1>
		
		<form action="." method="post" accept-charset="utf-8">
			
			<p>
				<label for="url_input">URL</label>
				<input type="text" name="url" value="" id="url_input">
			</p>
			
			<p>
				<label for="category_select">Category</label>
				<select name="category" id="category_select">
					<option value="news">News</option>
					<option value="picture">Picture</option>
					<option value="story">Story</option>
				</select>
			</p>
			
			<p>
				<input type="submit" value="Add Link">
			</p>
		</form>
		
	</body>
	
</html>
