<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Stall Wall - Delete Link</title>
		
		<link type="text/css" rel="stylesheet" href="/stylesheets/admin.css" />
	</head>
	
	<body>
		<h1>Delete Link - {{link.url}}</h1>
		
			<form action="." method="post" accept-charset="utf-8">
				<p>Are you sure you want to delete the link to {{link.url}}?</p>
				<p>
					<input type="hidden" name="link_key" value="{{link.key}}" />
					<input type="submit" name="submit" value="Cancel" />
					<input type="submit" name="submit" value="Delete" />
				</p>
			</form>
		
	</body>
	
</html>
