<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Stall Wall - Link List</title>
		
		<link type="text/css" rel="stylesheet" href="/stylesheets/admin.css" />
	</head>
	
	<body>
		<h1>Link List</h1>
		
		<ul>
			{% for link in links %}
			<li>
				{{link.url}}
				- <strong>{{link.category}}</strong>
				- <a class="command" href="/admin/links/{{link.key}}/edit/">edit</a>
				- <a class="command" href="/admin/links/{{link.key}}/delete/">delete</a>
			</li>
			{% endfor %}
		</ul>
		
		<p class="navigation">
			<a href="/admin/link/add/">Add a Link</a>
			<a href="{{logout_url}}">Logout</a>
		</p>
		
	</body>
	
</html>
