<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>The Wall Stall</title>
		
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
		
		<script type="text/javascript">
		function gogogo(){
			window.location = "{{ link.url }}"
		}
		
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-23490054-1']);
		_gaq.push(['_trackPageview']);
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		
		</script>
	</head>
	
	<body onload="setTimeout('gogogo()',3000);" style="font-family:san-serif; width:100%; height:100%; margin: 0; padding: 0; background-color: rgb(220,220,220);">
		<div style="margin: 0; padding: 0;">
			<h1>The Wall Stall</h1>
		
			<p class="message">Lets see... where should we go...</p>
		</div>
	</body>
	
</html>
